:root {
  --primary-color: darkblue; 
  --secondary-color: black;
  --accent1-color: #264653;
  --accent2-color: #610558;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: var(--body-font);
  color: var(--secondary-color);
}

header, main, footer {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
  }

  h1 {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
}

.hero article {
  position: absolute;
  top:100px;
  right: 0px;
  width: 20%;
  padding: 15px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent2-color);
  color: #fff;
}

.hero article img {
  float: right;
  width: 130px;
  border: 0px;
  margin: 0px;
  box-shadow: 4px 4px;
}

/* Header grid and flex */
header{
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  background: #cbb6f4;
  padding: 1rem;
}

header img{
  width: 120px;
}

header nav ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

header nav a{
  text-decoration: none;
  padding: 0.4rem 1rem;
  background: white;
  border-radius: 6px;
  color: black
}

header nav a:hover{
  background: #ece5ff;
}

/* hero section */
.hero{
  padding: 2rem;
  text-align: center;
}

.hero-container{
  margin: 2rem auto;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-container img{
  width: 180px;
  border-radius: 8px;
  margin-left: 1rem;
}

/* history grid */
.history{
  padding: 2rem;
  background: #f5f5f5;
  text-align: center;
}

.history-grid{
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 250px 1fr;
  gap: 1.5rem;
  align-items: center;
}

.history-grid img{
  width: 100%;
  border-radius: 8px;
}

/* Adventure gallery */
.adventures{
  padding: 1rem;
  text-align: center;
}

.adventure-gallery{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.adventure-gallery figure{
  width: 18%;
}

.adventure-gallery img{
  width: 100%;
  border-radius: 6px;
}

figcaption{
  margin-top: .5rem;
  font-size: .8rem;
}

/* footer (right side social icons) */
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #cbb6f4;
  padding: 1rem;
}

footer .socialmedia{
  display: flex;
  gap: 1rem;
}

footer .socialmedia img{
  width: 40px;
}