*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: black;
    background: white;
}

header{
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto;
    width: 650px;;
}

h1{
    margin: 3px;
    font-size: 2em;
    color: darkblue;
    text-align: center;
}

form{
    width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: aliceblue;
    display: grid;
}

fieldset{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

legend{
    padding: 0.7rem;
    color: darkblue;
    font-size: 1.5em;
}

label, input, button, select, textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label{
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
  padding: 0.6rem;
  font-size: 1rem;
}

input[type="checkbox"]{
    width: 20px;
    height: auto;
    vertical-align: bottom;
}

button {
  margin: 1rem;
  background-color: darkblue;
  color: white;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
  cursor: pointer;
}

button:hover {
  background-color: darkgreen;
}

footer {
  margin: 1rem auto 0;
  width: 650px;
  text-align: center;
  font-size: 0.8em;
  color: grey;
  border-top: 1px solid #ccc;
}

.for-item{
    display: grid;
    align-items: center;
}

.column1{
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2{
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}