*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-align: center;
    --height: auto;
    --border: 1px solid black;
}

nav{
    background-color: darkblue;
    padding: 10px;
}
nav a{
    color: white;
    display: block;
    padding: 20px;
}
h1{
    color: darkblue;
}

main img{
    width: 150px;
    height: var(--height);
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p{
    padding: 0;
}

img {
    width: 150px;
    height: var(--height);
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

P{
    padding: 10px;
}

main{
max-width: 840px
}

aside{
    width: 20rem;
    margin: 1rem;
    border: var(--border); /* 1️⃣ */
    padding: 1rem;
    background-color: whitesmoke;
    text-align: var(--text-align);
    position: relative;
}
aside img{
    width: 200px;
    height: var(--height);
}

aside h2{
    position: absolute;
    top: 20px;
    left: 70px;
}

footer{
    margin-top: 10px;
    border-top: var(--border);
    text-align: var(--text-align);
}

/* class selectors */
.box{
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #eee;
    color: #000
}